<!-- TODO tryout md-nav-list -->
<nav color="primary">
  <md-toolbar color="primary">
    <a md-button routerLink="/" class="main-nav-logo">
      <!--<md-icon>home</md-icon>-->
      <h1>
        {{appName}}
      </h1>
    </a>

    <ul>
      <li class="l-left"><a md-button routerLink="/" class="main-nav-button">Home</a></li>
      <li class="l-left"><a md-button class="main-nav-button">Test</a></li>
      <li class="l-right"><a md-button routerLink="/login" class="main-nav-button">Login</a></li>
    </ul>
  </md-toolbar>
</nav>
