<md-card>
  <md-card-title>Login</md-card-title>

  <md-card-content>
    <md-input-container>
      <input [(ngModel)]="username" mdInput type="text" placeholder="User">
    </md-input-container>
    <br>
    <md-input-container>
      <input [(ngModel)]="password" mdInput (value)="password" type="password" placeholder="password">
    </md-input-container>
  </md-card-content>

  <md-card-actions>
    <a md-button (click)="onClickLogin()">Login</a>
    <a md-button (click)="onClickBack()">Back</a>
  </md-card-actions>
</md-card>
