.ui-accordion-header {
    border: 1px solid #d5d3d8;
    background: #e7e2e8;
    font-weight: normal;
    color: #000000;
}

.ui-accordion-header-active {
    border: 1px solid #003eff;
    background: #007fff;
    font-weight: normal;
    color: #ffffff;
}